extends layout

block content
	h1 Crypto-Currency API info from www.btc-e.com:	
	table.table.table-striped.table-bordered
		thead
			tr
				th PAIR
				th USD value
				th BTC value
				th VOLUME
				th LAST TRADE PRICE
				th ACESS TIME
		tbody
		for item, i in btc_e		
			tr
				td=item.pair
				td=item.usd
				td=item.btc
				td=item.volume
				td=item.lasttradeprice
				td= item.access_time	