extends layout

block content
	h1 Crypto-Currency API info:	
	table
		tr
			td URL
			td UZD
			td BTC
			td VOLUME
			td TIME
		for item, i in cryptsy
			tr
				td=item.pair
				td=item.usd
				td=item.btc
				td=item.volume
				td=item.time
	p= markets
	script(src='')
	script(src='public/javascripts/main.js')